<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 西夏普咖啡</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><h2 class="text-success">西夏普咖啡</h2></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">關於我</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">相關文章</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">雨林樹娃</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">星座咖啡</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">填寫問券</a>
                </li>

                 <li class="dropdown">
                  <a class="btn btn-success dropdown-toggle offset-3" data-toggle="dropdown">商品分類</a>
                  <ul class="dropdown-menu">
                    <li><a class="text-dark" href="#">依生產洲別</a></li>
                    <li><a class="text-dark" href="#">依生產國別</a></li>
                    <li><a class="text-dark" href="#">各種培度</a></li>
                    <li><a class="text-dark" href="#">各種包裝</a></li>
                    <li><a class="text-dark" href="#">各種處理法</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex offset-5">
                <input class="form-control me-auto text-dark" type="search" placeholder="請輸入關鍵字" aria-label="搜尋">
                <button class="btn btn-outline-success" type="submit">搜尋</button>
              </form>
              <ul class="navbar-nav">
                 <li class="nav-item">
                  <a class="nav-link text-dark" href="#">登出</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">會員中心</a>
                </li>
              </ul>

            </div>
          </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - prjCSCoffee - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
