@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-xl-row border border-primary rounded m-3 bookmark1">
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
</div>

<div class="flex-xl-row border border-primary rounded m-3 bookmark2">
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
</div>

<div class="flex-xl-row border border-primary rounded m-3 bookmark3">
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
</div>

<div class="flex-xl-row border border-primary rounded m-3 bookmark4">
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
</div>

<div class="flex-xl-row border border-primary rounded m-3 bookmark5">
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
</div>

<div class="flex-xl-row border border-primary rounded m-3 bookmark6">
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
</div>

<div class="flex-xl-row border border-primary rounded m-3 bookmark7">
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
</div>

<div class="flex-xl-row border border-primary rounded m-3 bookmark8">
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
</div>

<div class="flex-xl-row border border-primary rounded m-3 bookmark9">
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
    <h3 class="display-4">campus</h3>
</div>



